backup_workflows/Bloom AI Unified Auth Imported_uYNin7KcptmBF8Nw.json
{
  "updatedAt": "2026-01-19T22:16:16.000Z",
  "createdAt": "2026-01-19T21:01:43.242Z",
  "id": "uYNin7KcptmBF8Nw",
  "name": "Bloom AI Unified Auth (Imported)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        460,
        360
      ],
      "webhookId": "auth"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.mode }}",
        "rules": {
          "rules": [
            {
              "value2": "login"
            },
            {
              "value2": "register"
            }
          ]
        }
      },
      "id": "switch-mode",
      "name": "Switch Mode",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        680,
        360
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "16ae5358-46dd-4846-b2fb-2c1f56bd596d",
          "mode": "list",
          "cachedResultName": "Brand Profiles Database",
          "cachedResultUrl": "https://www.notion.so/16ae535846dd4846b2fb2c1f56bd596d"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $json.body.username }}"
            },
            {
              "key": "Email|email",
              "emailValue": "={{ $json.body.email }}"
            },
            {
              "key": "Password|rich_text",
              "textContent": "={{ $json.body.password }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-user",
      "name": "Create User",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [
        940,
        480
      ],
      "credentials": {
        "notionApi": {
          "id": "jNP7bHIu6NZaobB0",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "16ae5358-46dd-4846-b2fb-2c1f56bd596d",
          "mode": "list",
          "cachedResultName": "Brand Profiles Database",
          "cachedResultUrl": "https://www.notion.so/16ae535846dd4846b2fb2c1f56bd596d"
        },
        "filterType": "manual",
        "matchType": "all",
        "filters": {
          "conditions": [
            {
              "key": "Name|title",
              "condition": "equals",
              "title": "={{ $('Webhook').item.json.body.username }}"
            }
          ]
        },
        "options": {
          "alwaysOutputData": true
        }
      },
      "id": "get-user",
      "name": "Get User",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [
        940,
        240
      ],
      "credentials": {
        "notionApi": {
          "id": "jNP7bHIu6NZaobB0",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Run for ALL items to find one match\nconst webhookBody = $('Webhook').item.json.body;\nconst targetPassword = webhookBody.password ? webhookBody.password.toString().trim() : '';\n\nlet authorized = false;\nlet foundUser = null;\nlet reason = 'User not found';\n\n// Loop through all items returned by Notion\nfor (const item of items) {\n  const notionItem = item.json;\n  \n  if (!notionItem.id) continue;\n\n  let storedPassword = '';\n\n  // STRATEGY 1: N8N Simplified Mode (Prefix 'property_')\n  if (notionItem['property_password']) {\n      storedPassword = notionItem['property_password'];\n  }\n  // STRATEGY 2: Flattened regular (e.g. notionItem.Password)\n  else if (notionItem['Password']) {\n      storedPassword = notionItem['Password'];\n  }\n  // STRATEGY 3: Nested Properties\n  else if (notionItem.properties && notionItem.properties.Password) {\n      if (notionItem.properties.Password.rich_text && notionItem.properties.Password.rich_text.length > 0) {\n          storedPassword = notionItem.properties.Password.rich_text[0].plain_text;\n      } else if (typeof notionItem.properties.Password === 'string') {\n          storedPassword = notionItem.properties.Password;\n      }\n  }\n\n  const cleanStored = storedPassword ? storedPassword.toString().trim() : '';\n\n  // Compare\n  if (cleanStored === targetPassword) {\n    authorized = true;\n    foundUser = notionItem;\n    break;\n  } else {\n     reason = 'Invalid Username or Password';\n  }\n}\n\nif (authorized) {\n  return [{ json: { authorized: true, user: foundUser } }];\n} else {\n  return [{ json: { authorized: false, reason: reason } }];\n}"
      },
      "id": "validate-user",
      "name": "Validate User",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1120,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.authorized }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-auth",
      "name": "If Authorized",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Login successful\",\n  \"username\": \"{{ $json.user.property_username || $json.user.property_name }}\"\n}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"{{ $json.reason || 'Login failed' }}\"\n}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        140
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Mode": {
      "main": [
        [
          {
            "node": "Get User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create User": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User": {
      "main": [
        [
          {
            "node": "Validate User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate User": {
      "main": [
        [
          {
            "node": "If Authorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Authorized": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7a4fa220-9854-437d-bb3f-c2c1262777e3",
  "activeVersionId": "7a4fa220-9854-437d-bb3f-c2c1262777e3",
  "versionCounter": 45,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-19T22:16:16.648Z",
      "createdAt": "2026-01-19T22:16:16.648Z",
      "role": "workflow:owner",
      "workflowId": "uYNin7KcptmBF8Nw",
      "projectId": "7JnMVxQZVo4xtdpO",
      "project": {
        "updatedAt": "2025-11-19T15:56:02.000Z",
        "createdAt": "2025-09-13T13:45:08.985Z",
        "id": "7JnMVxQZVo4xtdpO",
        "name": "Progetti",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "circle-user-round"
        },
        "description": "",
        "creatorId": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-19T15:56:02.592Z",
            "createdAt": "2025-11-19T15:56:02.592Z",
            "userId": "02df7494-a65c-4c90-9190-46eb9b88898b",
            "projectId": "7JnMVxQZVo4xtdpO",
            "user": {
              "updatedAt": "2026-01-24T14:01:18.000Z",
              "createdAt": "2025-08-29T09:34:03.029Z",
              "id": "02df7494-a65c-4c90-9190-46eb9b88898b",
              "email": "e.serra@blc-sa.ch",
              "firstName": "Emanule",
              "lastName": "Serra",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "cdVSfCLCBuR453xM",
                "userActivatedAt": 1758101937782,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759426818315
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-23",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-19T22:15:09.414Z",
    "createdAt": "2026-01-19T22:15:09.414Z",
    "versionId": "7a4fa220-9854-437d-bb3f-c2c1262777e3",
    "workflowId": "uYNin7KcptmBF8Nw",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "auth",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          460,
          360
        ],
        "webhookId": "auth"
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{ $json.body.mode }}",
          "rules": {
            "rules": [
              {
                "value2": "login"
              },
              {
                "value2": "register"
              }
            ]
          }
        },
        "id": "switch-mode",
        "name": "Switch Mode",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 1,
        "position": [
          680,
          360
        ]
      },
      {
        "parameters": {
          "resource": "databasePage",
          "databaseId": {
            "__rl": true,
            "value": "16ae5358-46dd-4846-b2fb-2c1f56bd596d",
            "mode": "list",
            "cachedResultName": "Brand Profiles Database",
            "cachedResultUrl": "https://www.notion.so/16ae535846dd4846b2fb2c1f56bd596d"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Name|title",
                "title": "={{ $json.body.username }}"
              },
              {
                "key": "Email|email",
                "emailValue": "={{ $json.body.email }}"
              },
              {
                "key": "Password|rich_text",
                "textContent": "={{ $json.body.password }}"
              }
            ]
          },
          "options": {}
        },
        "id": "create-user",
        "name": "Create User",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.1,
        "position": [
          940,
          480
        ],
        "credentials": {
          "notionApi": {
            "id": "jNP7bHIu6NZaobB0",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "16ae5358-46dd-4846-b2fb-2c1f56bd596d",
            "mode": "list",
            "cachedResultName": "Brand Profiles Database",
            "cachedResultUrl": "https://www.notion.so/16ae535846dd4846b2fb2c1f56bd596d"
          },
          "filterType": "manual",
          "matchType": "all",
          "filters": {
            "conditions": [
              {
                "key": "Name|title",
                "condition": "equals",
                "title": "={{ $('Webhook').item.json.body.username }}"
              }
            ]
          },
          "options": {
            "alwaysOutputData": true
          }
        },
        "id": "get-user",
        "name": "Get User",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.1,
        "position": [
          940,
          240
        ],
        "credentials": {
          "notionApi": {
            "id": "jNP7bHIu6NZaobB0",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Run for ALL items to find one match\nconst webhookBody = $('Webhook').item.json.body;\nconst targetPassword = webhookBody.password ? webhookBody.password.toString().trim() : '';\n\nlet authorized = false;\nlet foundUser = null;\nlet reason = 'User not found';\n\n// Loop through all items returned by Notion\nfor (const item of items) {\n  const notionItem = item.json;\n  \n  if (!notionItem.id) continue;\n\n  let storedPassword = '';\n\n  // STRATEGY 1: N8N Simplified Mode (Prefix 'property_')\n  if (notionItem['property_password']) {\n      storedPassword = notionItem['property_password'];\n  }\n  // STRATEGY 2: Flattened regular (e.g. notionItem.Password)\n  else if (notionItem['Password']) {\n      storedPassword = notionItem['Password'];\n  }\n  // STRATEGY 3: Nested Properties\n  else if (notionItem.properties && notionItem.properties.Password) {\n      if (notionItem.properties.Password.rich_text && notionItem.properties.Password.rich_text.length > 0) {\n          storedPassword = notionItem.properties.Password.rich_text[0].plain_text;\n      } else if (typeof notionItem.properties.Password === 'string') {\n          storedPassword = notionItem.properties.Password;\n      }\n  }\n\n  const cleanStored = storedPassword ? storedPassword.toString().trim() : '';\n\n  // Compare\n  if (cleanStored === targetPassword) {\n    authorized = true;\n    foundUser = notionItem;\n    break;\n  } else {\n     reason = 'Invalid Username or Password';\n  }\n}\n\nif (authorized) {\n  return [{ json: { authorized: true, user: foundUser } }];\n} else {\n  return [{ json: { authorized: false, reason: reason } }];\n}"
        },
        "id": "validate-user",
        "name": "Validate User",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          1120,
          240
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.authorized }}",
                "value2": true
              }
            ]
          }
        },
        "id": "check-auth",
        "name": "If Authorized",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1300,
          240
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": true,\n  \"message\": \"Login successful\",\n  \"username\": \"{{ $json.user.property_username || $json.user.property_name }}\"\n}",
          "options": {}
        },
        "id": "respond-success",
        "name": "Respond Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1500,
          360
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": false,\n  \"message\": \"{{ $json.reason || 'Login failed' }}\"\n}",
          "options": {
            "responseCode": 401
          }
        },
        "id": "respond-error",
        "name": "Respond Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1500,
          140
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Switch Mode",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch Mode": {
        "main": [
          [
            {
              "node": "Get User",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create User": {
        "main": [
          [
            {
              "node": "Respond Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get User": {
        "main": [
          [
            {
              "node": "Validate User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate User": {
        "main": [
          [
            {
              "node": "If Authorized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Authorized": {
        "main": [
          [
            {
              "node": "Respond Success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Emanule Serra",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-19T22:15:09.587Z",
        "id": 86,
        "workflowId": "uYNin7KcptmBF8Nw",
        "versionId": "7a4fa220-9854-437d-bb3f-c2c1262777e3",
        "event": "activated",
        "userId": "02df7494-a65c-4c90-9190-46eb9b88898b"
      }
    ]
  }
}