backup_workflows/Caption_Flow_V2_oRYSQ9tk63yPJaqt_UPDATED.json
{
  "updatedAt": "2026-01-27T22:24:28.338Z",
  "createdAt": "2026-01-24T14:57:05.530Z",
  "id": "oRYSQ9tk63yPJaqt",
  "name": "Caption Flow V.2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa3b9a02-ac6a-4d7f-937f-a0e6e566a0c8",
              "name": "Topic",
              "type": "string",
              "value": "={{ $json.body.Topic }}"
            },
            {
              "id": "e48783e8-5f6b-4c54-bf4f-c004414dc510",
              "name": "TargetAudience",
              "type": "string",
              "value": "={{ $json.body.Audience }}"
            },
            {
              "id": "c499a954-b4c6-4702-ab86-3656aa2b1783",
              "name": "BrandVoice",
              "type": "string",
              "value": "={{ $json.body.Voice }}"
            },
            {
              "id": "210f7103-4d6b-42e9-9168-fd99dff94b5a",
              "name": "Platform",
              "type": "string",
              "value": "={{ $json.body.Platform }}"
            },
            {
              "id": "account-field-new-id",
              "name": "Account",
              "type": "string",
              "value": "={{ $json.body.Account || 'default' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1621ff7d-796d-43ab-aab5-db2673407dd3",
      "name": "2. Prepare Input Variables (Topic, Audience, etc.)",
      "type": "n8n-nodes-base.set",
      "position": [
        -432,
        880
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<prompt>\n    <role>\n        Sei un **Social Media Strategist altamente creativo** specializzato nella generazione di **CONCEPT di contenuti unici e adatti alla piattaforma** per **Instagram e LinkedIn**. Pensi oltre i formati base e consideri l'engagement del pubblico.\n    </role>\n    \n    <language>\n        **IMPORTANTE: TUTTE le risposte devono essere in ITALIANO.**\n    </language>\n\n    <task>\n        **IMPORTANTE: Hai accesso alle conoscenze aziendali specifiche in `CompanyKnowledge`. Usa queste informazioni per rendere il concept più rilevante e allineato con il brand, i prodotti e i valori dell'azienda.**\n\n        Basandoti *esclusivamente* su `Topic`, `Target Audience`, `Brand Voice` e **`Platform` target ('Instagram' o 'LinkedIn')**, genera **esattamente 1 CONCEPT creativo di contenuto**. Concentrati sul **messaggio centrale, angolo o hook**. Il formato suggerito **DEVE essere \"Single Image\"**.\n        1.  **Ottimizzazione Platform:** **Adatta esplicitamente** il *tipo* e *angolo* del concept alla `Platform` specificata.\n            * **Instagram:** Più visuale, storytelling, personale, community-focused.\n            * **LinkedIn:** Immagini d'impatto per dati, takeaway chiave, visual professionali.\n        2.  **Originalità:** Evita luoghi comuni. Esplora angoli diversi: rappresentazioni visive di dati, immagini metaforiche, domande provocatorie.\n        3.  **Formato:** Il formato **DEVE essere \"Single Image\"**.\n    </task>\n\n    <input_context>\n        <param name=\"CompanyKnowledge\">{{ $json.CompanyKnowledge }}</param>\n        <param name=\"Topic\">{{ $json.Topic }}</param>\n        <param name=\"TargetAudience\">{{ $json.TargetAudience }}</param>\n        <param name=\"BrandVoice\">{{ $json.BrandVoice }}</param>\n        <param name=\"Platform\">{{ $json.Platform }}</param>\n    </input_context>\n\n    <output_instructions>\n        La risposta DEVE essere un singolo oggetto JSON valido con una chiave: `ideas`.\n        Il valore di `ideas` DEVE essere un array contenente esattamente 1 oggetto.\n        L'oggetto DEVE avere due chiavi: `concept` (stringa: il testo del concept IN ITALIANO) e `suggested_format` (stringa: **DEVE essere \"Single Image\"**).\n        Esempio: `{\"ideas\": [{\"concept\": \"Testo del concept in italiano...\", \"suggested_format\": \"Single Image\"}]}`\n        NON includere altro testo al di fuori della struttura JSON.\n    </output_instructions>\n</prompt>"
            }
          ]
        }
      },
      "id": "6bcdf760-210f-422a-9785-8325654593ac",
      "name": "3a. Generate Content Concept (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        32,
        880
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {
          "baseURL": "https://openrouter.ai/api/v1"
        }
      },
      "id": "e111e21a-99a7-426e-9fe9-83e786109dee",
      "name": "(LLM Model for Concept)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        32,
        1040
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "kjETjzJF05kUBRFk",
          "name": "OpenRouter_Auto_Fixed"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"ideas\": {\n      \"type\": \"array\",\n      \"description\": \"An array containing exactly 1 content concept.\",\n      \"minItems\": 1,\n      \"maxItems\": 1,\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"concept\": {\n            \"type\": \"string\",\n            \"description\": \"The detailed text describing the content concept for a Single Image.\"\n          },\n          \"suggested_format\": {\n            \"type\": \"string\",\n            \"description\": \"The post format, which MUST be 'Single Image'.\",\n            \"const\": \"Single Image\"\n          }\n        },\n        \"required\": [\n          \"concept\",\n          \"suggested_format\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"ideas\"\n  ]\n}"
      },
      "id": "be1b0781-15ee-43b7-acdd-8ba2a1faf3ea",
      "name": "(Parse Concept JSON)",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        192,
        1040
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<prompt>\n    <role>\n        Sei un **Esperto Instagram/LinkedIn Content Strategist e AI Image Prompt Engineer**. Sei eccellente nell'elaborare concept e creare prompt dettagliati per la generazione di immagini.\n    </role>\n\n    <language>\n        **IMPORTANTE: I concept devono essere in ITALIANO. I prompt per le immagini possono essere in inglese per migliore compatibilità con i generatori AI.**\n    </language>\n\n    <task>\n        **IMPORTANTE: Usa le informazioni in `CompanyKnowledge` per creare prompt immagine coerenti con il brand, i prodotti e lo stile visuale dell'azienda.**\n\n        1.  **Analizza** la `Chosen Idea` e la `Platform` target per elaborare un `expanded_post_concept` pratico IN ITALIANO.\n        2.  Genera **DUE OPZIONI DISTINTE** di prompt immagine basate sul concept espanso.\n        3.  **Distinzione:** Le due opzioni devono offrire varietà significativa (stile, composizione, focus).\n        4.  **Dettaglio:** I prompt devono essere altamente dettagliati per generatori AI avanzati (soggetto, azione, ambientazione, stile, mood, composizione, illuminazione, palette colori).\n    </task>\n\n    <input_context>\n        <param name=\"CompanyKnowledge\">{{ $('Combine RAG with Input Data').item.json.CompanyKnowledge }}</param>\n        <param name=\"ChosenIdea\">{{ $json.output.ideas[0].concept }}</param>\n        <param name=\"OriginalTopic\">{{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Topic }}</param>\n        <param name=\"TargetAudience\">{{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.TargetAudience }}</param>\n        <param name=\"BrandVoice\">{{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.BrandVoice }}</param>\n        <param name=\"Platform\">{{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Platform }}</param>\n    </input_context>\n\n    <output_instructions>\n        La risposta DEVE essere un singolo oggetto JSON con due chiavi: `expanded_post_concept` e `prompt_options`.\n        - `expanded_post_concept` (stringa IN ITALIANO): Il concept visuale elaborato.\n        - `prompt_options` (array): DEVE contenere esattamente DUE oggetti.\n            - Ogni oggetto DEVE avere:\n                - `option_description` (stringa): Descrizione breve dell'opzione.\n                - `prompts` (array di stringhe): Contiene UNA stringa con il prompt dettagliato per l'immagine.\n        NON includere testo al di fuori del JSON. NON generare caption qui.\n    </output_instructions>\n</prompt>"
            }
          ]
        }
      },
      "id": "46b3b75c-94df-4a3a-930a-78518ad4e953",
      "name": "3b. Generate Image Prompt Options (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        784,
        880
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {
          "baseURL": "https://openrouter.ai/api/v1"
        }
      },
      "id": "beaaf466-c19f-40e9-ab0f-bbf318522915",
      "name": "(LLM Model for Prompts)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        784,
        1040
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "kjETjzJF05kUBRFk",
          "name": "OpenRouter_Auto_Fixed"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"expanded_post_concept\": {\n      \"type\": \"string\",\n      \"description\": \"The elaborated visual concept, stating Single Image format and incorporating user input/platform considerations.\"\n    },\n    \"prompt_options\": {\n      \"type\": \"array\",\n      \"description\": \"An array containing exactly TWO prompt options for the single image concept.\",\n      \"minItems\": 2,\n      \"maxItems\": 2,\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"option_description\": {\n            \"type\": \"string\",\n            \"description\": \"Briefly describes the distinct angle/style of this option (e.g., 'Option 1: Hyperrealistic...').\"\n          },\n          \"prompts\": {\n            \"type\": \"array\",\n            \"description\": \"Contains ONE detailed prompt string for the single image.\",\n            \"minItems\": 1,\n            \"maxItems\": 1,\n            \"items\": {\n              \"type\": \"string\",\n              \"description\": \"A detailed image generation prompt.\"\n            }\n          }\n        },\n        \"required\": [\n          \"option_description\",\n          \"prompts\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"expanded_post_concept\",\n    \"prompt_options\"\n  ]\n}"
      },
      "id": "133bbc03-531e-4da3-adaa-2fca10b941fd",
      "name": "(Parse Prompts JSON)",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        944,
        1040
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Sei un AI Caption Writer per Instagram/LinkedIn.\n\n**LINGUA: DEVI scrivere ESCLUSIVAMENTE in ITALIANO. Questo è OBBLIGATORIO.**\n\nTASK:\nScrivi una caption breve ed efficace per social media, adatta per {{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Platform }}.\n\nDETTAGLI:\n- Company Knowledge: {{ $('Combine RAG with Input Data').item.json.CompanyKnowledge }}\n- Concept: {{ $('3a. Generate Content Concept (Gemini)').item.json.output.ideas[0].concept }}\n- Topic: {{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Topic }}\n- Audience: {{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.TargetAudience }}\n- Voice: {{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.BrandVoice }}\n\n**USA le Company Knowledge per rendere la caption più rilevante, menzionando prodotti/servizi specifici e valori aziendali quando pertinente.**\n\nLINEE GUIDA PLATFORM:\n- Instagram: Conversazionale, emoji, 3-7 hashtag in italiano.\n- LinkedIn: Professionale, conciso, 1-3 hashtag.\n\n**IMPORTANTE: La caption DEVE essere scritta interamente in ITALIANO.**\n\nOUTPUT:\nRestituisci SOLO un oggetto JSON con una chiave 'Caption'.\nEsempio: { \"Caption\": \"La tua caption in italiano... #hashtag\" }"
            }
          ]
        }
      },
      "id": "791835f1-c96f-4fb7-9288-82f1391fcbd9",
      "name": "3c. Generate Post Caption (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -896,
        1792
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {
          "baseURL": "https://openrouter.ai/api/v1"
        }
      },
      "id": "a2fda1d1-7317-41a2-832e-74a7bad9f4a9",
      "name": "(LLM Model for Caption)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -880,
        1952
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "kjETjzJF05kUBRFk",
          "name": "OpenRouter_Auto_Fixed"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Caption\": \"Thee future of call centers is here!\"\n}"
      },
      "id": "6e214b40-4885-417f-b426-32aa12cfbfb4",
      "name": "(Parse Caption JSON)",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -736,
        1952
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a4260ba-3bde-4444-8f42-8a8abd51ff0c",
              "name": "ImageURL",
              "type": "string",
              "value": "={{ JSON.parse($json['data']['resultJson']).resultUrls[0] }}"
            },
            {
              "id": "1953ae03-6a86-4847-8686-5a928637be1d",
              "name": "Caption",
              "type": "string",
              "value": "={{ $('3c. Generate Post Caption (Gemini)').item.json.output.Caption }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b77615c0-0cc2-4fb2-8793-f280d3183550",
      "name": "5. Prepare Data for Instagram API",
      "type": "n8n-nodes-base.set",
      "position": [
        528,
        1792
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1k57ar4Yb4Lu4dcDT82F7dIDqy0aMz-3NdgWNXoGiz90",
          "mode": "list",
          "cachedResultName": "Caption Flow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k57ar4Yb4Lu4dcDT82F7dIDqy0aMz-3NdgWNXoGiz90/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Foglio1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k57ar4Yb4Lu4dcDT82F7dIDqy0aMz-3NdgWNXoGiz90/edit#gid=0"
        },
        "columns": {
          "value": {
            "Topic": "={{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Topic }}",
            "Audience": "={{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.TargetAudience }}",
            "Voice": "={{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.BrandVoice }}",
            "Platform": "={{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Platform }}",
            "Status": "1",
            "success": "={{ $json.success }}",
            "results": "={{ JSON.stringify($json.results || $json.message || '') }}",
            "usage": "={{ $json.usage || '' }}"
          },
          "schema": [
            {
              "id": "Topic",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Topic",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Audience",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Audience",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Voice",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Voice",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Platform",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Platform",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "success",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "success",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "results",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "results",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "usage",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "usage",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Topic"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "51cb9736-9df6-4a3b-93d6-02641c3c4e0b",
      "name": "7. Update Post Status in Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2144,
        1968
      ],
      "typeVersion": 4.5,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VcArlZlpyjQDbJj5",
          "name": "Google Sheets Didattica BLC"
        }
      }
    },
    {
      "parameters": {
        "content": "# 01. Content Concept Generation\n\n**Purpose:** This step uses Google Gemini to generate **one unique content concept** tailored for the specified platform (Instagram/LinkedIn), based on the input topic, audience, and brand voice. The format is fixed to \"Single Image\".\n\n**Input (from Node '2. Prepare Input Variables'):**\n*   `Topic` (string)\n*   `TargetAudience` (string)\n*   `BrandVoice` (string)\n*   `Platform` (string: 'Instagram' )\n\n**Output (JSON):**\n*   `{\"ideas\": [{\"concept\": \"Generated concept text...\", \"suggested_format\": \"Single Image\"}]}`",
        "height": 740,
        "width": 460
      },
      "id": "df8cfda5-33bb-46a6-918c-fab47cc59362",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 03b. Image Generation\n\n**Purpose:** Generates the actual image using the **first detailed prompt** created in step 3b. It sends this prompt to the Replicate API, specifically using the 'Flux 1.1 Pro Ultra' model.\n\n**Input (from Node '3b. Generate Image Prompt Options'):**\n*   `prompt` (string: The *first* prompt string from `prompt_options[0].prompts[0]`)\n\n**Output (from Replicate API):**\n*   JSON containing the `output` URL of the generated image (e.g., `{\"output\": \"https://replicate.delivery/...\"}`)",
        "height": 804,
        "width": 796,
        "color": 4
      },
      "id": "dfa4103f-6c81-4d04-8b49-7e11c201d1ff",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        1296
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 02. Image Prompt Elaboration & Options\n\n**Purpose:** Takes the generated content concept and expands on it to create **two distinct, detailed image generation prompts**. These prompts are optimized for the target platform and suitable for AI image generators like Replicate Flux.\n\n**Input (from Nodes '2. Prepare Input Variables' & '3a. Generate Content Concept'):**\n*   `ChosenIdea` (string: Concept from step 3a)\n*   `OriginalTopic` (string)\n*   `TargetAudience` (string)\n*   `BrandVoice` (string)\n*   `Platform` (string: 'Instagram')\n\n**Output (JSON):**\n*   `{\"expanded_post_concept\": \"Elaborated concept description...\", \"prompt_options\": [{\"option_description\": \"Option 1: ...\", \"prompts\": [\"Detailed prompt 1...\"]}, {\"option_description\": \"Option 2: ...\", \"prompts\": [\"Detailed prompt 2...\"]}]}`\n",
        "height": 740,
        "width": 740,
        "color": 2
      },
      "id": "4a32312f-935f-49c9-bb6a-bc149c40411a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 03a. Caption Generation\n\n**Purpose:** Uses Google Gemini to write a short, engaging social media caption **specifically tailored for the target platform**. The caption complements the image (represented by the first generated prompt) and aligns with the overall content strategy. Includes relevant hashtags.\n\n**Input (from Nodes '1. Get Next Post Idea', '3a. Generate Content Concept', '3b. Generate Image Prompt Options'):**\n*   `ImagePrompt` (string: The *first* prompt from step 3b)\n*   `ChosenIdea` (string: Concept from step 3a)\n*   `OriginalTopic` (string)\n*   `TargetAudience` (string)\n*   `BrandVoice` (string)\n*   `Platform` (string: 'Instagram' or 'LinkedIn')\n\n**Output (JSON):**\n*   `{\"Caption\": \"Generated caption text with #hashtags...\"}`",
        "height": 804,
        "width": 620,
        "color": 3
      },
      "id": "e6cf22c0-941b-4edd-b010-d92b44d24f41",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        1296
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 04. Instagram Publishing\n\n**Purpose:** This block takes the final image URL and caption, prepares them for the Instagram Graph API, uploads the media to create a container, waits for Instagram to process it, and finally publishes the container as a post to the connected Instagram account.\n\n**Input (from Nodes '3c. Generate Post Caption (Gemini)' & '4. Generate Image using Prompt 1 (Replicate Flux)'):**\n*   `ImageURL` (string: URL of the generated image from Replicate)\n*   `Caption` (string: Generated post text with hashtags from Gemini)\n\n**Process:**\n1.  **Format Data (`5. Prepare Data...`):** Organizes the ImageURL and Caption into the required structure.\n2.  **Create Media Container (`6a. Create...`):** Sends the `image_url` and `caption` to the Instagram Graph API (`media` edge) to initiate the upload. Receives a container `id`.\n3.  **Wait for Processing (`6b. Wait...`):** Pauses the workflow to allow Instagram's servers time to process the uploaded media. *Note: Wait time might need adjustment depending on media size and API responsiveness.*\n4.  **Publish Media (`6c. Publish...`):** Sends the container `id` (as `creation_id`) to the Instagram Graph API (`media_publish` edge) to make the post live.\n\n**Output:** The content is published as a new post on the target Instagram profile. The final node (`6c. Publish Post...`) returns the `id` of the successfully published media object on Instagram.",
        "height": 804,
        "width": 1336,
        "color": 5
      },
      "id": "8db1b78e-0309-4c3e-b420-0a6ac2d50f1c",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        1296
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 05. Finalize: Update Sheet Status\n\n**Purpose:** Marks the processed post idea as completed in the Google Sheet.\n\n**Action:** Finds the corresponding row in the sheet (using the 'Topic' to match) and updates its 'Status' column to '1'. This prevents the same idea from being processed again by the workflow in future runs.",
        "height": 300,
        "width": 380,
        "color": 6
      },
      "id": "fc663ea6-393a-4dd4-afbe-e101cb6b78ce",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        1616
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "caption-flow",
        "options": {},
        "responseMode": "responseNode"
      },
      "name": "CaptionFlow Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -928,
        880
      ],
      "id": "99906da2-e7f2-4680-a256-c9fb1e00a305",
      "webhookId": "9b0d093c-19f2-4179-8440-c4497df022e0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'nano-banana-pro', input: { prompt: $('3b. Generate Image Prompt Options (Gemini)').item.json.output.prompt_options[0].prompts[0], aspect_ratio: '1:1', output_format: 'png' } }) }}",
        "options": {}
      },
      "id": "kie-create-task-id",
      "name": "4a. Create Image Task (Kie)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        1792
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FxDfGS3rzEZsvGhj",
          "name": "Kie AI (Nano Banana)"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "kie-wait-id",
      "name": "4b. Wait for Generation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -96,
        1792
      ],
      "webhookId": "b0c6c4a4-e519-4ed1-b67a-8ddcf7bc8bcf"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "kie-get-result-id",
      "name": "4c. Get Image Result (Kie)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        1792
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FxDfGS3rzEZsvGhj",
          "name": "Kie AI (Nano Banana)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dzudfzmx3/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.ImageURL }}"
            },
            {
              "name": "upload_preset",
              "value": "instagram_posts"
            },
            {
              "name": "folder",
              "value": "instagram_posts"
            }
          ]
        },
        "options": {}
      },
      "id": "cloudinary-upload-node-id",
      "name": "Upload Image to Cloudinary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        1792
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/upload_photos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InNlcnJhLmVtYW51ZWxlMDlAZ21haWwuY29tIiwiZXhwIjo0OTE3OTYyNTA2LCJqdGkiOiIyNTc5N2Y3MS1kMDg0LTRjODEtOTI4Yi1iY2Y1NGQzYTNlYTMifQ.P3wipAcac8PQrka5MrWTGBEAFenS3PX5c5r8RSV1lbM"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('5. Prepare Data for Instagram API').item.json.Caption }}"
            },
            {
              "name": "user",
              "value": "Foot_Easy"
            },
            {
              "name": "platform[]",
              "value": "instagram"
            },
            {
              "name": "photos[]",
              "value": "={{ $('Upload Image to Cloudinary').item.json.secure_url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "upload-post-http-node-id",
      "name": "Upload to Instagram (Upload-Post API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        1760
      ]
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "fromEmail": "test@n8n.it",
        "toEmail": "serra.emanuele09@gmail.com",
        "subject": "=✅ Approva Post Instagram - {{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Topic }}",
        "message": "=<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; max-width: 600px; margin: 0 auto; background: #fff;\">\n  \n  <!-- ALERT BANNER -->\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 0; text-align: center;\">\n    <div style=\"font-size: 40px; margin-bottom: 8px;\">⏰</div>\n    <h3 style=\"margin: 0 0 8px 0; color: white; font-size: 18px; font-weight: 600;\">Pubblicazione Automatica tra 24 ore</h3>\n    <p style=\"margin: 0; font-size: 13px; opacity: 0.95; line-height: 1.4;\">\n      Se non approvi o rifiuti entro <strong>domani alle 09:00</strong>,<br>\n      questo post verrà pubblicato automaticamente.\n    </p>\n  </div>\n\n  <!-- INSTAGRAM POST STYLE -->\n  <div style=\"background: #fff; border: 1px solid #dbdbdb;\">\n    \n    <!-- Header (user info) -->\n    <div style=\"padding: 14px 16px; border-bottom: 1px solid #efefef;\">\n      <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width: 100%;\">\n        <tr>\n          <td style=\"width: 32px; padding-right: 12px; vertical-align: middle;\">\n            <div style=\"width: 32px; height: 32px; border-radius: 50%; background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); display: table; text-align: center;\">\n              <div style=\"display: table-cell; vertical-align: middle; width: 32px; height: 32px; border-radius: 50%; border: 2px solid #fff;\">\n                <span style=\"font-size: 12px; font-weight: 600; color: #fff;\">BLC</span>\n              </div>\n            </div>\n          </td>\n          <td style=\"vertical-align: middle;\">\n            <div style=\"font-weight: 600; font-size: 14px; color: #262626;\">blc_formazione</div>\n            <div style=\"font-size: 12px; color: #8e8e8e;\">Sponsored</div>\n          </td>\n        </tr>\n      </table>\n    </div>\n\n    <!-- Image -->\n    <div style=\"width: 100%; background: #000;\">\n      <img src=\"{{ $json.secure_url }}\" style=\"width: 100%; height: auto; display: block; max-height: 600px;\" alt=\"Instagram Post\">\n    </div>\n\n    <!-- Action buttons (emoji outline style) -->\n    <div style=\"padding: 12px 16px; border-bottom: 1px solid #efefef;\">\n      <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n        <tr>\n          <td style=\"padding-right: 18px; font-size: 26px; line-height: 1;\">♡</td>\n          <td style=\"padding-right: 18px; font-size: 26px; line-height: 1;\">○</td>\n          <td style=\"font-size: 26px; line-height: 1;\">⊳</td>\n        </tr>\n      </table>\n    </div>\n\n    <!-- Caption -->\n    <div style=\"padding: 8px 16px;\">\n      <div style=\"font-size: 14px; color: #262626; line-height: 1.5;\">\n        <span style=\"font-weight: 600; margin-right: 4px;\">blc_formazione</span>\n        <span style=\"white-space: pre-wrap;\">{{ $('5. Prepare Data for Instagram API').item.json.Caption }}</span>\n      </div>\n      <div style=\"color: #8e8e8e; font-size: 12px; margin-top: 8px; text-transform: uppercase; letter-spacing: 0.5px;\">\n        Anteprima Post • Non pubblicato\n      </div>\n    </div>\n\n    <!-- Pain Point Info -->\n    <div style=\"padding: 12px 16px; background: #fafafa; border-top: 1px solid #efefef;\">\n      <div style=\"font-size: 12px; color: #8e8e8e; margin-bottom: 4px;\">📌 Pain Point</div>\n      <div style=\"font-size: 13px; color: #262626; font-weight: 500;\">{{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Topic }}</div>\n    </div>\n\n  </div>\n\n  <!-- INFO BOX -->\n  <div style=\"background: #fff3cd; border: 1px solid #ffc107; border-left: 4px solid #ffc107; padding: 16px; margin: 20px 0; border-radius: 4px;\">\n    <div style=\"font-size: 14px; color: #856404; line-height: 1.6;\">\n      <strong>ℹ️ Come funziona:</strong><br>\n      • <strong>PUBBLICA</strong> → Post online immediatamente<br>\n      • <strong>RIFIUTA</strong> → Post NON verrà mai pubblicato<br>\n      • <strong>Nessuna azione</strong> → Pubblicazione automatica domani mattina\n    </div>\n  </div>\n\n</div>",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Approva",
            "disapproveLabel": "Rifiuta"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        976,
        1872
      ],
      "id": "bc92045e-de1b-4653-82e9-e267cacb0abd",
      "name": "Check via Email",
      "webhookId": "393c58f1-730a-4a6f-9955-6cb866c1e50b",
      "credentials": {
        "smtp": {
          "id": "3jxHADCw51qvxr54",
          "name": "SMTP Gmail Serra Personal"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0534eb79-5f1d-4fa0-997b-a1740a5f2ac5",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "\"true\"",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        1792
      ],
      "id": "173a13c7-8380-4f51-931b-f96547a8ab2c",
      "name": "If Approved"
    },
    {
      "parameters": {
        "jsCode": "// Estrai i dati dal webhook\nconst idea = $input.first().json.body.Topic || '';\nconst socialPlatform = $input.first().json.body.social_platform || 'instagram';\nconst timestamp = $input.first().json.body.timestamp || new Date().toISOString();\nconst source = $input.first().json.body.source || 'CaptionFlow';\nconst audience = $input.first().json.body.Audience || 'Pubblico Generico';\nconst voice = $input.first().json.body.voice || 'Educativo';\n\n// Genera un ID univoco per questa richiesta\nconst requestId = `CF-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`;\n\n// Mappa il nome della piattaforma social\nconst platformNames = {\n  'instagram': 'Instagram',\n  'facebook': 'Facebook',\n  'linkedin': 'LinkedIn',\n  'tiktok': 'TikTok',\n  'twitter': 'X (Twitter)'\n};\n\nreturn [{\n  json: {\n    requestId: requestId,\n    idea: idea,\n    socialPlatform: socialPlatform,\n    timestamp: timestamp,\n    source: source,\n    stato: 'Da Elaborare',\n    audience: audience,\n    voice: voice,\n    dataRicezione: new Date().toLocaleDateString('it-IT')\n  }\n}];"
      },
      "id": "ee069c7e-e75d-4aa9-b928-66c44c8f9288",
      "name": "Elabora Dati Ricevuti",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        640
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k57ar4Yb4Lu4dcDT82F7dIDqy0aMz-3NdgWNXoGiz90",
          "mode": "list",
          "cachedResultName": "Caption Flow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k57ar4Yb4Lu4dcDT82F7dIDqy0aMz-3NdgWNXoGiz90/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Foglio1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k57ar4Yb4Lu4dcDT82F7dIDqy0aMz-3NdgWNXoGiz90/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $json.idea }}",
            "Request_ID": "={{ $json.requestId }}",
            "Platform": "={{ $json.socialPlatform }}",
            "Status": "={{ $json.stato }}",
            "Source": "={{ $json.source }}",
            "Audience": "={{ $json.audience }}",
            "Voice": "={{ $json.voice }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audience",
              "displayName": "Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Voice",
              "displayName": "Voice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Request_ID",
              "displayName": "Request_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0c548744-32fc-47b5-a3f5-11d4d15eff55",
      "name": "Salva su Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -368,
        640
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VcArlZlpyjQDbJj5",
          "name": "Google Sheets Didattica BLC"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Richiesta ricevuta con successo\",\n  \"requestId\": \"{{ $json.requestId }}\",\n  \"idea\": \"{{ $json.idea }}\",\n  \"platform\": \"{{ $json.socialPlatformName }}\"\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "b5337028-cdea-4e69-ba26-c4ebe7b79818",
      "name": "Risposta Successo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        976,
        1728
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "97dc386e-06b1-4551-9138-a6f0e123f55a",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        1808
      ],
      "id": "be4c45ca-a89a-4093-95c7-a1019534a610",
      "name": "If"
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Post generato con successo! Controlla la tua email per approvare.\",\n  \"data\": {\n    \"caption\": $('5. Prepare Data for Instagram API').item.json.Caption,\n    \"image_url\": $('Upload Image to Cloudinary').item.json.secure_url\n  }\n} }}"
      },
      "id": "4cceefdd-4659-47d4-88ff-ea5d3f8634dc",
      "name": "Respond to Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get Account from previous node\nconst account = ($json.Account || 'default').toLowerCase().trim();\n\n// Remove common prefixes and clean up the account name\nlet cleanAccount = account\n    .replace(/^ig[_\\s-]*/i, '')  // Remove \"IG\", \"IG_\", \"IG-\", \"IG \" prefix\n    .replace(/[_\\s-]+/g, '')     // Remove underscores, spaces, dashes\n    .toLowerCase();\n\n// Map account name to Pinecone RAG database\nlet ragDatabase = 'rag-pessina-db'; // default fallback\nlet companyName = 'Unknown';\n\nif (cleanAccount.includes('blc')) {\n    ragDatabase = 'rag-blc-db';\n    companyName = 'BLC';\n} else if (cleanAccount.includes('pessina')) {\n    ragDatabase = 'rag-pessina-db';\n    companyName = 'Pessina';\n} else if (cleanAccount.includes('foot') || cleanAccount.includes('easy')) {\n    ragDatabase = 'rag-footeasy-db';\n    companyName = 'Foot Easy';\n} else if (cleanAccount.includes('jobcourier') || cleanAccount.includes('job')) {\n    ragDatabase = 'rag-jobcourier-db';\n    companyName = 'Job Courier';\n} else if (cleanAccount.includes('walmoss')) {\n    ragDatabase = 'rag-walmoss-db';\n    companyName = 'Walmoss';\n}\n\nreturn [{\n    json: {\n        ...($input.first().json),\n        ragDatabase: ragDatabase,\n        companyName: companyName,\n        originalAccount: $json.Account || 'default'\n    }\n}];"
      },
      "id": "36dd5ed6-f651-4eb5-a04f-3f8364562b59",
      "name": "Map Account to RAG DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        880
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get data from previous nodes\nconst topic = $json.Topic || '';\nconst audience = $json.TargetAudience || '';\nconst voice = $json.BrandVoice || '';\nconst platform = $json.Platform || '';\nconst ragDatabase = $json.ragDatabase || 'rag-pessina-db';\nconst companyName = $json.companyName || 'Unknown';\n\n// Create a focused query for the RAG system to get company-specific knowledge\nconst ragQuery = `Fornisci informazioni su ${companyName} relative a: ${topic}. \nIncludi dettagli su prodotti, servizi, valori aziendali e informazioni rilevanti per creare contenuti social per ${platform}.`;\n\nreturn [{\n    json: {\n        ...($input.first().json),\n        chatInput: ragQuery,\n        targetIndex: ragDatabase,\n        companyContext: {\n            name: companyName,\n            topic: topic,\n            audience: audience,\n            voice: voice,\n            platform: platform\n        }\n    }\n}];"
      },
      "id": "900d5b3f-2688-4bb0-8783-694268617e12",
      "name": "Prepare Company Knowledge Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        880
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a company knowledge assistant. Your role is to extract relevant information about the company from the provided documents.\n\nFocus on:\n- Company values and mission\n- Products and services offered\n- Brand voice and tone\n- Key messaging points\n- Target audience insights\n\nProvide concise, actionable information that can be used to create social media content. Always respond in Italian unless otherwise specified."
        }
      },
      "id": "e62b5cef-09a2-47d9-bdf2-5fabfe237d9c",
      "name": "Query Company Knowledge",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        880
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a4c17ab6-f22f-4251-9e1c-88e4732535e9",
      "name": "Company Knowledge LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        168,
        1104
      ],
      "credentials": {
        "openRouterApi": {
          "id": "bPejUNztelVUXKU1",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to retrieve company-specific information, brand guidelines, products, services, and marketing materials from the company knowledge base",
        "pineconeIndex": {
          "__rl": true,
          "value": "={{ $('Prepare Company Knowledge Query').first().json.targetIndex }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "098686f3-c92f-49d7-ae68-73314b72033e",
      "name": "Company Knowledge Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        408,
        1104
      ],
      "credentials": {
        "pineconeApi": {
          "id": "pg8MVmRWeGRWKAH9",
          "name": "PineconeApi account Didattica BLC"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6f74b9f9-0f7a-46be-a43c-7cf30abf6c56",
      "name": "Company Knowledge Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        488,
        1312
      ],
      "credentials": {
        "openAiApi": {
          "id": "kjETjzJF05kUBRFk",
          "name": "OpenRouter_Auto_Fixed"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get RAG knowledge from the agent output\nconst ragOutput = $input.first().json.output || '';\nconst ragText = $input.first().json.text || ragOutput;\n\n// Get original input data from previous nodes\nconst topic = $('2. Prepare Input Variables (Topic, Audience, etc.)').first().json.Topic || '';\nconst audience = $('2. Prepare Input Variables (Topic, Audience, etc.)').first().json.TargetAudience || '';\nconst voice = $('2. Prepare Input Variables (Topic, Audience, etc.')').first().json.BrandVoice || '';\nconst platform = $('2. Prepare Input Variables (Topic, Audience, etc.)').first().json.Platform || '';\n\n// Get company info\nconst companyName = $json.companyContext?.name || 'Unknown';\nconst ragDatabase = $json.targetIndex || '';\n\n// Combine all data\nreturn [{\n    json: {\n        Topic: topic,\n        TargetAudience: audience,\n        BrandVoice: voice,\n        Platform: platform,\n        CompanyKnowledge: ragText,\n        CompanyName: companyName,\n        RAGDatabase: ragDatabase,\n        hasRAGData: ragText.length > 0\n    }\n}];"
      },
      "id": "7caf6894-fd9d-42bf-a3da-89a6a9ea41d9",
      "name": "Combine RAG with Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        880
      ]
    }
  ],
  "connections": {
    "(Parse Caption JSON)": {
      "ai_outputParser": [
        [
          {
            "node": "3c. Generate Post Caption (Gemini)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "(Parse Concept JSON)": {
      "ai_outputParser": [
        [
          {
            "node": "3a. Generate Content Concept (Gemini)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "(Parse Prompts JSON)": {
      "ai_outputParser": [
        [
          {
            "node": "3b. Generate Image Prompt Options (Gemini)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "(LLM Model for Caption)": {
      "ai_languageModel": [
        [
          {
            "node": "3c. Generate Post Caption (Gemini)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "(LLM Model for Concept)": {
      "ai_languageModel": [
        [
          {
            "node": "3a. Generate Content Concept (Gemini)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "(LLM Model for Prompts)": {
      "ai_languageModel": [
        [
          {
            "node": "3b. Generate Image Prompt Options (Gemini)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "5. Prepare Data for Instagram API": {
      "main": [
        [
          {
            "node": "Upload Image to Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3c. Generate Post Caption (Gemini)": {
      "main": [
        [
          {
            "node": "4a. Create Image Task (Kie)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3a. Generate Content Concept (Gemini)": {
      "main": [
        [
          {
            "node": "3b. Generate Image Prompt Options (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3b. Generate Image Prompt Options (Gemini)": {
      "main": [
        [
          {
            "node": "3c. Generate Post Caption (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Prepare Input Variables (Topic, Audience, etc.)": {
      "main": [
        [
          {
            "node": "3a. Generate Content Concept (Gemini)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Map Account to RAG DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CaptionFlow Webhook": {
      "main": [
        [
          {
            "node": "2. Prepare Input Variables (Topic, Audience, etc.)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Elabora Dati Ricevuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4a. Create Image Task (Kie)": {
      "main": [
        [
          {
            "node": "4b. Wait for Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4b. Wait for Generation": {
      "main": [
        [
          {
            "node": "4c. Get Image Result (Kie)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4c. Get Image Result (Kie)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Instagram (Upload-Post API)": {
      "main": [
        [
          {
            "node": "7. Update Post Status in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to Cloudinary": {
      "main": [
        [
          {
            "node": "Respond to Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check via Email": {
      "main": [
        [
          {
            "node": "If Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved": {
      "main": [
        [
          {
            "node": "Upload to Instagram (Upload-Post API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Elabora Dati Ricevuti": {
      "main": [
        [
          {
            "node": "Salva su Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "5. Prepare Data for Instagram API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4b. Wait for Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Frontend": {
      "main": [
        [
          {
            "node": "Check via Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Risposta Successo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Account to RAG DB": {
      "main": [
        [
          {
            "node": "Prepare Company Knowledge Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Company Knowledge Query": {
      "main": [
        [
          {
            "node": "Query Company Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Company Knowledge": {
      "main": [
        [
          {
            "node": "Combine RAG with Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Knowledge LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Query Company Knowledge",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Company Knowledge Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Query Company Knowledge",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Company Knowledge Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Company Knowledge Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Combine RAG with Input Data": {
      "main": [
        [
          {
            "node": "3a. Generate Content Concept (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "executionOrder": "v0"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "4c. Get Image Result (Kie)": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "7b51e2e86a1bcf8f4c5bc39bbbb060b0",
            "model": "nano-banana-pro",
            "state": "success",
            "param": "{\"input\":\"{\\\"aspect_ratio\\\":\\\"1:1\\\",\\\"output_format\\\":\\\"png\\\",\\\"prompt\\\":\\\"A breathtaking panoramic view of the Amalfi Coast at sunset, Italy. Multiple luxury cars including a red Ferrari and a silver Porsche 911 parked along the scenic coastal road in the foreground, reflecting the warm colors of the setting sun. Dramatic photorealistic style, wide-angle lens, cinematic composition, golden hour lighting, vibrant colors, sharp focus, clear sky, sense of freedom and luxury, 8k, hyperdetailed.\\\"}\",\"model\":\"nano-banana-pro\"}",
            "resultJson": "{\"resultUrls\":[\"https://tempfile.aiquickdraw.com/images/1769468880689-4jnrix1h5yd.png\"]}",
            "failCode": null,
            "failMsg": null,
            "costTime": 50,
            "completeTime": 1769468881997,
            "createTime": 1769468831121
          }
        }
      }
    ]
  },
  "versionId": "a976b147-c2f3-469e-b1d0-30219b4b83c6",
  "activeVersionId": "a976b147-c2f3-469e-b1d0-30219b4b83c6",
  "versionCounter": 33,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-25T14:43:43.896Z",
      "createdAt": "2026-01-25T14:43:43.896Z",
      "role": "workflow:owner",
      "workflowId": "oRYSQ9tk63yPJaqt",
      "projectId": "7JnMVxQZVo4xtdpO",
      "project": {
        "updatedAt": "2025-11-19T15:56:02.000Z",
        "createdAt": "2025-09-13T13:45:08.985Z",
        "id": "7JnMVxQZVo4xtdpO",
        "name": "Progetti",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "circle-user-round"
        },
        "description": "",
        "creatorId": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-19T15:56:02.592Z",
            "createdAt": "2025-11-19T15:56:02.592Z",
            "userId": "02df7494-a65c-4c90-9190-46eb9b88898b",
            "projectId": "7JnMVxQZVo4xtdpO",
            "user": {
              "updatedAt": "2026-01-26T23:26:01.000Z",
              "createdAt": "2025-08-29T09:34:03.029Z",
              "id": "02df7494-a65c-4c90-9190-46eb9b88898b",
              "email": "e.serra@blc-sa.ch",
              "firstName": "Emanule",
              "lastName": "Serra",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "cdVSfCLCBuR453xM",
                "userActivatedAt": 1758101937782,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759426818315
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-27T22:24:28.339Z",
    "createdAt": "2026-01-27T22:24:28.339Z",
    "versionId": "a976b147-c2f3-469e-b1d0-30219b4b83c6",
    "workflowId": "oRYSQ9tk63yPJaqt",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "aa3b9a02-ac6a-4d7f-937f-a0e6e566a0c8",
                "name": "Topic",
                "type": "string",
                "value": "={{ $json.body.Topic }}"
              },
              {
                "id": "e48783e8-5f6b-4c54-bf4f-c004414dc510",
                "name": "TargetAudience",
                "type": "string",
                "value": "={{ $json.body.Audience }}"
              },
              {
                "id": "c499a954-b4c6-4702-ab86-3656aa2b1783",
                "name": "BrandVoice",
                "type": "string",
                "value": "={{ $json.body.Voice }}"
              },
              {
                "id": "210f7103-4d6b-42e9-9168-fd99dff94b5a",
                "name": "Platform",
                "type": "string",
                "value": "={{ $json.body.Platform }}"
              }
            ]
          },
          "options": {}
        },
        "id": "1621ff7d-796d-43ab-aab5-db2673407dd3",
        "name": "2. Prepare Input Variables (Topic, Audience, etc.)",
        "type": "n8n-nodes-base.set",
        "position": [
          -432,
          880
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "=<prompt>\n    <role>\n        Sei un **Social Media Strategist altamente creativo** specializzato nella generazione di **CONCEPT di contenuti unici e adatti alla piattaforma** per **Instagram e LinkedIn**. Pensi oltre i formati base e consideri l'engagement del pubblico.\n    </role>\n    \n    <language>\n        **IMPORTANTE: TUTTE le risposte devono essere in ITALIANO.**\n    </language>\n\n    <task>\n        Basandoti *esclusivamente* su `Topic`, `Target Audience`, `Brand Voice` e **`Platform` target ('Instagram' o 'LinkedIn')**, genera **esattamente 1 CONCEPT creativo di contenuto**. Concentrati sul **messaggio centrale, angolo o hook**. Il formato suggerito **DEVE essere \"Single Image\"**.\n        1.  **Ottimizzazione Platform:** **Adatta esplicitamente** il *tipo* e *angolo* del concept alla `Platform` specificata.\n            * **Instagram:** Più visuale, storytelling, personale, community-focused.\n            * **LinkedIn:** Immagini d'impatto per dati, takeaway chiave, visual professionali.\n        2.  **Originalità:** Evita luoghi comuni. Esplora angoli diversi: rappresentazioni visive di dati, immagini metaforiche, domande provocatorie.\n        3.  **Formato:** Il formato **DEVE essere \"Single Image\"**.\n    </task>\n\n    <input_context>\n        <param name=\"Topic\">{{ $json.Topic }}</param>\n        <param name=\"TargetAudience\">{{ $json.TargetAudience }}</param>\n        <param name=\"BrandVoice\">{{ $json.BrandVoice }}</param>\n        <param name=\"Platform\">{{ $json.Platform }}</param>\n    </input_context>\n\n    <output_instructions>\n        La risposta DEVE essere un singolo oggetto JSON valido con una chiave: `ideas`.\n        Il valore di `ideas` DEVE essere un array contenente esattamente 1 oggetto.\n        L'oggetto DEVE avere due chiavi: `concept` (stringa: il testo del concept IN ITALIANO) e `suggested_format` (stringa: **DEVE essere \"Single Image\"**).\n        Esempio: `{\"ideas\": [{\"concept\": \"Testo del concept in italiano...\", \"suggested_format\": \"Single Image\"}]}`\n        NON includere altro testo al di fuori della struttura JSON.\n    </output_instructions>\n</prompt>"
              }
            ]
          }
        },
        "id": "6bcdf760-210f-422a-9785-8325654593ac",
        "name": "3a. Generate Content Concept (Gemini)",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "position": [
          32,
          880
        ],
        "typeVersion": 1.5
      },
      {
        "parameters": {
          "model": "google/gemini-2.0-flash-001",
          "options": {
            "baseURL": "https://openrouter.ai/api/v1"
          }
        },
        "id": "e111e21a-99a7-426e-9fe9-83e786109dee",
        "name": "(LLM Model for Concept)",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [
          32,
          1040
        ],
        "typeVersion": 1,
        "credentials": {
          "openAiApi": {
            "id": "kjETjzJF05kUBRFk",
            "name": "OpenRouter_Auto_Fixed"
          }
        }
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"ideas\": {\n      \"type\": \"array\",\n      \"description\": \"An array containing exactly 1 content concept.\",\n      \"minItems\": 1,\n      \"maxItems\": 1,\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"concept\": {\n            \"type\": \"string\",\n            \"description\": \"The detailed text describing the content concept for a Single Image.\"\n          },\n          \"suggested_format\": {\n            \"type\": \"string\",\n            \"description\": \"The post format, which MUST be 'Single Image'.\",\n            \"const\": \"Single Image\"\n          }\n        },\n        \"required\": [\n          \"concept\",\n          \"suggested_format\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"ideas\"\n  ]\n}"
        },
        "id": "be1b0781-15ee-43b7-acdd-8ba2a1faf3ea",
        "name": "(Parse Concept JSON)",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "position": [
          192,
          1040
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "=<prompt>\n    <role>\n        Sei un **Esperto Instagram/LinkedIn Content Strategist e AI Image Prompt Engineer**. Sei eccellente nell'elaborare concept e creare prompt dettagliati per la generazione di immagini.\n    </role>\n\n    <language>\n        **IMPORTANTE: I concept devono essere in ITALIANO. I prompt per le immagini possono essere in inglese per migliore compatibilità con i generatori AI.**\n    </language>\n\n    <task>\n        1.  **Analizza** la `Chosen Idea` e la `Platform` target per elaborare un `expanded_post_concept` pratico IN ITALIANO.\n        2.  Genera **DUE OPZIONI DISTINTE** di prompt immagine basate sul concept espanso.\n        3.  **Distinzione:** Le due opzioni devono offrire varietà significativa (stile, composizione, focus).\n        4.  **Dettaglio:** I prompt devono essere altamente dettagliati per generatori AI avanzati (soggetto, azione, ambientazione, stile, mood, composizione, illuminazione, palette colori).\n    </task>\n\n    <input_context>\n        <param name=\"ChosenIdea\">{{ $json.output.ideas[0].concept }}</param>\n        <param name=\"OriginalTopic\">{{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Topic }}</param>\n        <param name=\"TargetAudience\">{{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.TargetAudience }}</param>\n        <param name=\"BrandVoice\">{{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.BrandVoice }}</param>\n        <param name=\"Platform\">{{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Platform }}</param>\n    </input_context>\n\n    <output_instructions>\n        La risposta DEVE essere un singolo oggetto JSON con due chiavi: `expanded_post_concept` e `prompt_options`.\n        - `expanded_post_concept` (stringa IN ITALIANO): Il concept visuale elaborato.\n        - `prompt_options` (array): DEVE contenere esattamente DUE oggetti.\n            - Ogni oggetto DEVE avere:\n                - `option_description` (stringa): Descrizione breve dell'opzione.\n                - `prompts` (array di stringhe): Contiene UNA stringa con il prompt dettagliato per l'immagine.\n        NON includere testo al di fuori del JSON. NON generare caption qui.\n    </output_instructions>\n</prompt>"
              }
            ]
          }
        },
        "id": "46b3b75c-94df-4a3a-930a-78518ad4e953",
        "name": "3b. Generate Image Prompt Options (Gemini)",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "position": [
          784,
          880
        ],
        "typeVersion": 1.5
      },
      {
        "parameters": {
          "model": "google/gemini-2.0-flash-001",
          "options": {
            "baseURL": "https://openrouter.ai/api/v1"
          }
        },
        "id": "beaaf466-c19f-40e9-ab0f-bbf318522915",
        "name": "(LLM Model for Prompts)",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [
          784,
          1040
        ],
        "typeVersion": 1,
        "credentials": {
          "openAiApi": {
            "id": "kjETjzJF05kUBRFk",
            "name": "OpenRouter_Auto_Fixed"
          }
        }
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"expanded_post_concept\": {\n      \"type\": \"string\",\n      \"description\": \"The elaborated visual concept, stating Single Image format and incorporating user input/platform considerations.\"\n    },\n    \"prompt_options\": {\n      \"type\": \"array\",\n      \"description\": \"An array containing exactly TWO prompt options for the single image concept.\",\n      \"minItems\": 2,\n      \"maxItems\": 2,\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"option_description\": {\n            \"type\": \"string\",\n            \"description\": \"Briefly describes the distinct angle/style of this option (e.g., 'Option 1: Hyperrealistic...').\"\n          },\n          \"prompts\": {\n            \"type\": \"array\",\n            \"description\": \"Contains ONE detailed prompt string for the single image.\",\n            \"minItems\": 1,\n            \"maxItems\": 1,\n            \"items\": {\n              \"type\": \"string\",\n              \"description\": \"A detailed image generation prompt.\"\n            }\n          }\n        },\n        \"required\": [\n          \"option_description\",\n          \"prompts\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"expanded_post_concept\",\n    \"prompt_options\"\n  ]\n}"
        },
        "id": "133bbc03-531e-4da3-adaa-2fca10b941fd",
        "name": "(Parse Prompts JSON)",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "position": [
          944,
          1040
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "=Sei un AI Caption Writer per Instagram/LinkedIn.\n\n**LINGUA: DEVI scrivere ESCLUSIVAMENTE in ITALIANO. Questo è OBBLIGATORIO.**\n\nTASK:\nScrivi una caption breve ed efficace per social media, adatta per {{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Platform }}.\n\nDETTAGLI:\n- Concept: {{ $('3a. Generate Content Concept (Gemini)').item.json.output.ideas[0].concept }}\n- Topic: {{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Topic }}\n- Audience: {{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.TargetAudience }}\n- Voice: {{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.BrandVoice }}\n\nLINEE GUIDA PLATFORM:\n- Instagram: Conversazionale, emoji, 3-7 hashtag in italiano.\n- LinkedIn: Professionale, conciso, 1-3 hashtag.\n\n**IMPORTANTE: La caption DEVE essere scritta interamente in ITALIANO.**\n\nOUTPUT:\nRestituisci SOLO un oggetto JSON con una chiave 'Caption'.\nEsempio: { \"Caption\": \"La tua caption in italiano... #hashtag\" }"
              }
            ]
          }
        },
        "id": "791835f1-c96f-4fb7-9288-82f1391fcbd9",
        "name": "3c. Generate Post Caption (Gemini)",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "position": [
          -896,
          1792
        ],
        "typeVersion": 1.5
      },
      {
        "parameters": {
          "model": "google/gemini-2.0-flash-001",
          "options": {
            "baseURL": "https://openrouter.ai/api/v1"
          }
        },
        "id": "a2fda1d1-7317-41a2-832e-74a7bad9f4a9",
        "name": "(LLM Model for Caption)",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [
          -880,
          1952
        ],
        "typeVersion": 1,
        "credentials": {
          "openAiApi": {
            "id": "kjETjzJF05kUBRFk",
            "name": "OpenRouter_Auto_Fixed"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n\t\"Caption\": \"Thee future of call centers is here!\"\n}"
        },
        "id": "6e214b40-4885-417f-b426-32aa12cfbfb4",
        "name": "(Parse Caption JSON)",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "position": [
          -736,
          1952
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8a4260ba-3bde-4444-8f42-8a8abd51ff0c",
                "name": "ImageURL",
                "type": "string",
                "value": "={{ JSON.parse($json['data']['resultJson']).resultUrls[0] }}"
              },
              {
                "id": "1953ae03-6a86-4847-8686-5a928637be1d",
                "name": "Caption",
                "type": "string",
                "value": "={{ $('3c. Generate Post Caption (Gemini)').item.json.output.Caption }}"
              }
            ]
          },
          "options": {}
        },
        "id": "b77615c0-0cc2-4fb2-8793-f280d3183550",
        "name": "5. Prepare Data for Instagram API",
        "type": "n8n-nodes-base.set",
        "position": [
          528,
          1792
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1k57ar4Yb4Lu4dcDT82F7dIDqy0aMz-3NdgWNXoGiz90",
            "mode": "list",
            "cachedResultName": "Caption Flow",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k57ar4Yb4Lu4dcDT82F7dIDqy0aMz-3NdgWNXoGiz90/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Foglio1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k57ar4Yb4Lu4dcDT82F7dIDqy0aMz-3NdgWNXoGiz90/edit#gid=0"
          },
          "columns": {
            "value": {
              "Topic": "={{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Topic }}",
              "Audience": "={{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.TargetAudience }}",
              "Voice": "={{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.BrandVoice }}",
              "Platform": "={{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Platform }}",
              "Status": "1",
              "success": "={{ $json.success }}",
              "results": "={{ JSON.stringify($json.results || $json.message || '') }}",
              "usage": "={{ $json.usage || '' }}"
            },
            "schema": [
              {
                "id": "Topic",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Topic",
                "defaultMatch": true,
                "canBeUsedToMatch": true
              },
              {
                "id": "Audience",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Audience",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Voice",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Voice",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Platform",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Platform",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Status",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Status",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "success",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "success",
                "defaultMatch": false,
                "canBeUsedToMatch": false
              },
              {
                "id": "results",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "results",
                "defaultMatch": false,
                "canBeUsedToMatch": false
              },
              {
                "id": "usage",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "usage",
                "defaultMatch": false,
                "canBeUsedToMatch": false
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "Topic"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "51cb9736-9df6-4a3b-93d6-02641c3c4e0b",
        "name": "7. Update Post Status in Sheet",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          2144,
          1968
        ],
        "typeVersion": 4.5,
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "VcArlZlpyjQDbJj5",
            "name": "Google Sheets Didattica BLC"
          }
        }
      },
      {
        "parameters": {
          "content": "# 01. Content Concept Generation\n\n**Purpose:** This step uses Google Gemini to generate **one unique content concept** tailored for the specified platform (Instagram/LinkedIn), based on the input topic, audience, and brand voice. The format is fixed to \"Single Image\".\n\n**Input (from Node '2. Prepare Input Variables'):**\n*   `Topic` (string)\n*   `TargetAudience` (string)\n*   `BrandVoice` (string)\n*   `Platform` (string: 'Instagram' )\n\n**Output (JSON):**\n*   `{\"ideas\": [{\"concept\": \"Generated concept text...\", \"suggested_format\": \"Single Image\"}]}`",
          "height": 740,
          "width": 460
        },
        "id": "df8cfda5-33bb-46a6-918c-fab47cc59362",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -48,
          448
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "# 03b. Image Generation\n\n**Purpose:** Generates the actual image using the **first detailed prompt** created in step 3b. It sends this prompt to the Replicate API, specifically using the 'Flux 1.1 Pro Ultra' model.\n\n**Input (from Node '3b. Generate Image Prompt Options'):**\n*   `prompt` (string: The *first* prompt string from `prompt_options[0].prompts[0]`)\n\n**Output (from Replicate API):**\n*   JSON containing the `output` URL of the generated image (e.g., `{\"output\": \"https://replicate.delivery/...\"}`)",
          "height": 804,
          "width": 796,
          "color": 4
        },
        "id": "dfa4103f-6c81-4d04-8b49-7e11c201d1ff",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -352,
          1296
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "# 02. Image Prompt Elaboration & Options\n\n**Purpose:** Takes the generated content concept and expands on it to create **two distinct, detailed image generation prompts**. These prompts are optimized for the target platform and suitable for AI image generators like Replicate Flux.\n\n**Input (from Nodes '2. Prepare Input Variables' & '3a. Generate Content Concept'):**\n*   `ChosenIdea` (string: Concept from step 3a)\n*   `OriginalTopic` (string)\n*   `TargetAudience` (string)\n*   `BrandVoice` (string)\n*   `Platform` (string: 'Instagram')\n\n**Output (JSON):**\n*   `{\"expanded_post_concept\": \"Elaborated concept description...\", \"prompt_options\": [{\"option_description\": \"Option 1: ...\", \"prompts\": [\"Detailed prompt 1...\"]}, {\"option_description\": \"Option 2: ...\", \"prompts\": [\"Detailed prompt 2...\"]}]}`\n",
          "height": 740,
          "width": 740,
          "color": 2
        },
        "id": "4a32312f-935f-49c9-bb6a-bc149c40411a",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          592,
          448
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "# 03a. Caption Generation\n\n**Purpose:** Uses Google Gemini to write a short, engaging social media caption **specifically tailored for the target platform**. The caption complements the image (represented by the first generated prompt) and aligns with the overall content strategy. Includes relevant hashtags.\n\n**Input (from Nodes '1. Get Next Post Idea', '3a. Generate Content Concept', '3b. Generate Image Prompt Options'):**\n*   `ImagePrompt` (string: The *first* prompt from step 3b)\n*   `ChosenIdea` (string: Concept from step 3a)\n*   `OriginalTopic` (string)\n*   `TargetAudience` (string)\n*   `BrandVoice` (string)\n*   `Platform` (string: 'Instagram' or 'LinkedIn')\n\n**Output (JSON):**\n*   `{\"Caption\": \"Generated caption text with #hashtags...\"}`",
          "height": 804,
          "width": 620,
          "color": 3
        },
        "id": "e6cf22c0-941b-4edd-b010-d92b44d24f41",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1056,
          1296
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "# 04. Instagram Publishing\n\n**Purpose:** This block takes the final image URL and caption, prepares them for the Instagram Graph API, uploads the media to create a container, waits for Instagram to process it, and finally publishes the container as a post to the connected Instagram account.\n\n**Input (from Nodes '3c. Generate Post Caption (Gemini)' & '4. Generate Image using Prompt 1 (Replicate Flux)'):**\n*   `ImageURL` (string: URL of the generated image from Replicate)\n*   `Caption` (string: Generated post text with hashtags from Gemini)\n\n**Process:**\n1.  **Format Data (`5. Prepare Data...`):** Organizes the ImageURL and Caption into the required structure.\n2.  **Create Media Container (`6a. Create...`):** Sends the `image_url` and `caption` to the Instagram Graph API (`media` edge) to initiate the upload. Receives a container `id`.\n3.  **Wait for Processing (`6b. Wait...`):** Pauses the workflow to allow Instagram's servers time to process the uploaded media. *Note: Wait time might need adjustment depending on media size and API responsiveness.*\n4.  **Publish Media (`6c. Publish...`):** Sends the container `id` (as `creation_id`) to the Instagram Graph API (`media_publish` edge) to make the post live.\n\n**Output:** The content is published as a new post on the target Instagram profile. The final node (`6c. Publish Post...`) returns the `id` of the successfully published media object on Instagram.",
          "height": 804,
          "width": 1336,
          "color": 5
        },
        "id": "8db1b78e-0309-4c3e-b420-0a6ac2d50f1c",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          480,
          1296
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "# 05. Finalize: Update Sheet Status\n\n**Purpose:** Marks the processed post idea as completed in the Google Sheet.\n\n**Action:** Finds the corresponding row in the sheet (using the 'Topic' to match) and updates its 'Status' column to '1'. This prevents the same idea from being processed again by the workflow in future runs.",
          "height": 300,
          "width": 380,
          "color": 6
        },
        "id": "fc663ea6-393a-4dd4-afbe-e101cb6b78ce",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1984,
          1616
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "caption-flow",
          "options": {},
          "responseMode": "responseNode"
        },
        "name": "CaptionFlow Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -928,
          880
        ],
        "id": "99906da2-e7f2-4680-a256-c9fb1e00a305",
        "webhookId": "9b0d093c-19f2-4179-8440-c4497df022e0"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.kie.ai/api/v1/jobs/createTask",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: 'nano-banana-pro', input: { prompt: $('3b. Generate Image Prompt Options (Gemini)').item.json.output.prompt_options[0].prompts[0], aspect_ratio: '1:1', output_format: 'png' } }) }}",
          "options": {}
        },
        "id": "kie-create-task-id",
        "name": "4a. Create Image Task (Kie)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -288,
          1792
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "FxDfGS3rzEZsvGhj",
            "name": "Kie AI (Nano Banana)"
          }
        }
      },
      {
        "parameters": {
          "amount": 10
        },
        "id": "kie-wait-id",
        "name": "4b. Wait for Generation",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -96,
          1792
        ],
        "webhookId": "b0c6c4a4-e519-4ed1-b67a-8ddcf7bc8bcf"
      },
      {
        "parameters": {
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "taskId",
                "value": "={{ $json.data.taskId }}"
              }
            ]
          },
          "options": {}
        },
        "id": "kie-get-result-id",
        "name": "4c. Get Image Result (Kie)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          96,
          1792
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "FxDfGS3rzEZsvGhj",
            "name": "Kie AI (Nano Banana)"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.cloudinary.com/v1_1/dzudfzmx3/image/upload",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "file",
                "value": "={{ $json.ImageURL }}"
              },
              {
                "name": "upload_preset",
                "value": "instagram_posts"
              },
              {
                "name": "folder",
                "value": "instagram_posts"
              }
            ]
          },
          "options": {}
        },
        "id": "cloudinary-upload-node-id",
        "name": "Upload Image to Cloudinary",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          736,
          1792
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.upload-post.com/api/upload_photos",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Apikey eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InNlcnJhLmVtYW51ZWxlMDlAZ21haWwuY29tIiwiZXhwIjo0OTE3OTYyNTA2LCJqdGkiOiIyNTc5N2Y3MS1kMDg0LTRjODEtOTI4Yi1iY2Y1NGQzYTNlYTMifQ.P3wipAcac8PQrka5MrWTGBEAFenS3PX5c5r8RSV1lbM"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "title",
                "value": "={{ $('5. Prepare Data for Instagram API').item.json.Caption }}"
              },
              {
                "name": "user",
                "value": "Foot_Easy"
              },
              {
                "name": "platform[]",
                "value": "instagram"
              },
              {
                "name": "photos[]",
                "value": "={{ $('Upload Image to Cloudinary').item.json.secure_url }}"
              }
            ]
          },
          "options": {}
        },
        "id": "upload-post-http-node-id",
        "name": "Upload to Instagram (Upload-Post API)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1520,
          1760
        ]
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "fromEmail": "test@n8n.it",
          "toEmail": "serra.emanuele09@gmail.com",
          "subject": "=✅ Approva Post Instagram - {{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Topic }}",
          "message": "=<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; max-width: 600px; margin: 0 auto; background: #fff;\">\n  \n  <!-- ALERT BANNER -->\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 0; text-align: center;\">\n    <div style=\"font-size: 40px; margin-bottom: 8px;\">⏰</div>\n    <h3 style=\"margin: 0 0 8px 0; color: white; font-size: 18px; font-weight: 600;\">Pubblicazione Automatica tra 24 ore</h3>\n    <p style=\"margin: 0; font-size: 13px; opacity: 0.95; line-height: 1.4;\">\n      Se non approvi o rifiuti entro <strong>domani alle 09:00</strong>,<br>\n      questo post verrà pubblicato automaticamente.\n    </p>\n  </div>\n\n  <!-- INSTAGRAM POST STYLE -->\n  <div style=\"background: #fff; border: 1px solid #dbdbdb;\">\n    \n    <!-- Header (user info) -->\n    <div style=\"padding: 14px 16px; border-bottom: 1px solid #efefef;\">\n      <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width: 100%;\">\n        <tr>\n          <td style=\"width: 32px; padding-right: 12px; vertical-align: middle;\">\n            <div style=\"width: 32px; height: 32px; border-radius: 50%; background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); display: table; text-align: center;\">\n              <div style=\"display: table-cell; vertical-align: middle; width: 32px; height: 32px; border-radius: 50%; border: 2px solid #fff;\">\n                <span style=\"font-size: 12px; font-weight: 600; color: #fff;\">BLC</span>\n              </div>\n            </div>\n          </td>\n          <td style=\"vertical-align: middle;\">\n            <div style=\"font-weight: 600; font-size: 14px; color: #262626;\">blc_formazione</div>\n            <div style=\"font-size: 12px; color: #8e8e8e;\">Sponsored</div>\n          </td>\n        </tr>\n      </table>\n    </div>\n\n    <!-- Image -->\n    <div style=\"width: 100%; background: #000;\">\n      <img src=\"{{ $json.secure_url }}\" style=\"width: 100%; height: auto; display: block; max-height: 600px;\" alt=\"Instagram Post\">\n    </div>\n\n    <!-- Action buttons (emoji outline style) -->\n    <div style=\"padding: 12px 16px; border-bottom: 1px solid #efefef;\">\n      <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n        <tr>\n          <td style=\"padding-right: 18px; font-size: 26px; line-height: 1;\">♡</td>\n          <td style=\"padding-right: 18px; font-size: 26px; line-height: 1;\">○</td>\n          <td style=\"font-size: 26px; line-height: 1;\">⊳</td>\n        </tr>\n      </table>\n    </div>\n\n    <!-- Caption -->\n    <div style=\"padding: 8px 16px;\">\n      <div style=\"font-size: 14px; color: #262626; line-height: 1.5;\">\n        <span style=\"font-weight: 600; margin-right: 4px;\">blc_formazione</span>\n        <span style=\"white-space: pre-wrap;\">{{ $('5. Prepare Data for Instagram API').item.json.Caption }}</span>\n      </div>\n      <div style=\"color: #8e8e8e; font-size: 12px; margin-top: 8px; text-transform: uppercase; letter-spacing: 0.5px;\">\n        Anteprima Post • Non pubblicato\n      </div>\n    </div>\n\n    <!-- Pain Point Info -->\n    <div style=\"padding: 12px 16px; background: #fafafa; border-top: 1px solid #efefef;\">\n      <div style=\"font-size: 12px; color: #8e8e8e; margin-bottom: 4px;\">📌 Pain Point</div>\n      <div style=\"font-size: 13px; color: #262626; font-weight: 500;\">{{ $('2. Prepare Input Variables (Topic, Audience, etc.)').item.json.Topic }}</div>\n    </div>\n\n  </div>\n\n  <!-- INFO BOX -->\n  <div style=\"background: #fff3cd; border: 1px solid #ffc107; border-left: 4px solid #ffc107; padding: 16px; margin: 20px 0; border-radius: 4px;\">\n    <div style=\"font-size: 14px; color: #856404; line-height: 1.6;\">\n      <strong>ℹ️ Come funziona:</strong><br>\n      • <strong>PUBBLICA</strong> → Post online immediatamente<br>\n      • <strong>RIFIUTA</strong> → Post NON verrà mai pubblicato<br>\n      • <strong>Nessuna azione</strong> → Pubblicazione automatica domani mattina\n    </div>\n  </div>\n\n</div>",
          "approvalOptions": {
            "values": {
              "approvalType": "double",
              "approveLabel": "Approva",
              "disapproveLabel": "Rifiuta"
            }
          },
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          976,
          1872
        ],
        "id": "bc92045e-de1b-4653-82e9-e267cacb0abd",
        "name": "Check via Email",
        "webhookId": "393c58f1-730a-4a6f-9955-6cb866c1e50b",
        "credentials": {
          "smtp": {
            "id": "3jxHADCw51qvxr54",
            "name": "SMTP Gmail Serra Personal"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "0534eb79-5f1d-4fa0-997b-a1740a5f2ac5",
                "leftValue": "={{ $json.data.approved }}",
                "rightValue": "\"true\"",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1280,
          1792
        ],
        "id": "173a13c7-8380-4f51-931b-f96547a8ab2c",
        "name": "If Approved"
      },
      {
        "parameters": {
          "jsCode": "// Estrai i dati dal webhook\nconst idea = $input.first().json.body.Topic || '';\nconst socialPlatform = $input.first().json.body.social_platform || 'instagram';\nconst timestamp = $input.first().json.body.timestamp || new Date().toISOString();\nconst source = $input.first().json.body.source || 'CaptionFlow';\nconst audience = $input.first().json.body.Audience || 'Pubblico Generico';\nconst voice = $input.first().json.body.voice || 'Educativo';\n\n// Genera un ID univoco per questa richiesta\nconst requestId = `CF-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`;\n\n// Mappa il nome della piattaforma social\nconst platformNames = {\n  'instagram': 'Instagram',\n  'facebook': 'Facebook',\n  'linkedin': 'LinkedIn',\n  'tiktok': 'TikTok',\n  'twitter': 'X (Twitter)'\n};\n\nreturn [{\n  json: {\n    requestId: requestId,\n    idea: idea,\n    socialPlatform: socialPlatform,\n    timestamp: timestamp,\n    source: source,\n    stato: 'Da Elaborare',\n    audience: audience,\n    voice: voice,\n    dataRicezione: new Date().toLocaleDateString('it-IT')\n  }\n}];"
        },
        "id": "ee069c7e-e75d-4aa9-b928-66c44c8f9288",
        "name": "Elabora Dati Ricevuti",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -656,
          640
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1k57ar4Yb4Lu4dcDT82F7dIDqy0aMz-3NdgWNXoGiz90",
            "mode": "list",
            "cachedResultName": "Caption Flow",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k57ar4Yb4Lu4dcDT82F7dIDqy0aMz-3NdgWNXoGiz90/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Foglio1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k57ar4Yb4Lu4dcDT82F7dIDqy0aMz-3NdgWNXoGiz90/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Topic": "={{ $json.idea }}",
              "Request_ID": "={{ $json.requestId }}",
              "Platform": "={{ $json.socialPlatform }}",
              "Status": "={{ $json.stato }}",
              "Source": "={{ $json.source }}",
              "Audience": "={{ $json.audience }}",
              "Voice": "={{ $json.voice }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Topic",
                "displayName": "Topic",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Audience",
                "displayName": "Audience",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Voice",
                "displayName": "Voice",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Platform",
                "displayName": "Platform",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Request_ID",
                "displayName": "Request_ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Source",
                "displayName": "Source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "0c548744-32fc-47b5-a3f5-11d4d15eff55",
        "name": "Salva su Google Sheets",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -368,
          640
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "VcArlZlpyjQDbJj5",
            "name": "Google Sheets Didattica BLC"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": true,\n  \"message\": \"Richiesta ricevuta con successo\",\n  \"requestId\": \"{{ $json.requestId }}\",\n  \"idea\": \"{{ $json.idea }}\",\n  \"platform\": \"{{ $json.socialPlatformName }}\"\n}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "b5337028-cdea-4e69-ba26-c4ebe7b79818",
        "name": "Risposta Successo",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          976,
          1728
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "97dc386e-06b1-4551-9138-a6f0e123f55a",
                "leftValue": "={{ $json.data.state }}",
                "rightValue": "success",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          272,
          1808
        ],
        "id": "be4c45ca-a89a-4093-95c7-a1019534a610",
        "name": "If"
      },
      {
        "parameters": {
          "options": {},
          "respondWith": "json",
          "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Post generato con successo! Controlla la tua email per approvare.\",\n  \"data\": {\n    \"caption\": $('5. Prepare Data for Instagram API').item.json.Caption,\n    \"image_url\": $('Upload Image to Cloudinary').item.json.secure_url\n  }\n} }}"
        },
        "id": "4cceefdd-4659-47d4-88ff-ea5d3f8634dc",
        "name": "Respond to Frontend",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          880,
          1600
        ]
      }
    ],
    "connections": {
      "(Parse Caption JSON)": {
        "ai_outputParser": [
          [
            {
              "node": "3c. Generate Post Caption (Gemini)",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "(Parse Concept JSON)": {
        "ai_outputParser": [
          [
            {
              "node": "3a. Generate Content Concept (Gemini)",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "(Parse Prompts JSON)": {
        "ai_outputParser": [
          [
            {
              "node": "3b. Generate Image Prompt Options (Gemini)",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "(LLM Model for Caption)": {
        "ai_languageModel": [
          [
            {
              "node": "3c. Generate Post Caption (Gemini)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "(LLM Model for Concept)": {
        "ai_languageModel": [
          [
            {
              "node": "3a. Generate Content Concept (Gemini)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "(LLM Model for Prompts)": {
        "ai_languageModel": [
          [
            {
              "node": "3b. Generate Image Prompt Options (Gemini)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "5. Prepare Data for Instagram API": {
        "main": [
          [
            {
              "node": "Upload Image to Cloudinary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "3c. Generate Post Caption (Gemini)": {
        "main": [
          [
            {
              "node": "4a. Create Image Task (Kie)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "3a. Generate Content Concept (Gemini)": {
        "main": [
          [
            {
              "node": "3b. Generate Image Prompt Options (Gemini)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "3b. Generate Image Prompt Options (Gemini)": {
        "main": [
          [
            {
              "node": "3c. Generate Post Caption (Gemini)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "2. Prepare Input Variables (Topic, Audience, etc.)": {
        "main": [
          [
            {
              "node": "3a. Generate Content Concept (Gemini)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CaptionFlow Webhook": {
        "main": [
          [
            {
              "node": "2. Prepare Input Variables (Topic, Audience, etc.)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Elabora Dati Ricevuti",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "4a. Create Image Task (Kie)": {
        "main": [
          [
            {
              "node": "4b. Wait for Generation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "4b. Wait for Generation": {
        "main": [
          [
            {
              "node": "4c. Get Image Result (Kie)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "4c. Get Image Result (Kie)": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to Instagram (Upload-Post API)": {
        "main": [
          [
            {
              "node": "7. Update Post Status in Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Image to Cloudinary": {
        "main": [
          [
            {
              "node": "Respond to Frontend",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check via Email": {
        "main": [
          [
            {
              "node": "If Approved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Approved": {
        "main": [
          [
            {
              "node": "Upload to Instagram (Upload-Post API)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Elabora Dati Ricevuti": {
        "main": [
          [
            {
              "node": "Salva su Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "5. Prepare Data for Instagram API",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "4b. Wait for Generation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Frontend": {
        "main": [
          [
            {
              "node": "Check via Email",
              "type": "main",
              "index": 0
            },
            {
              "node": "Risposta Successo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Emanule Serra",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-27T22:24:28.540Z",
        "id": 215,
        "workflowId": "oRYSQ9tk63yPJaqt",
        "versionId": "a976b147-c2f3-469e-b1d0-30219b4b83c6",
        "event": "activated",
        "userId": "02df7494-a65c-4c90-9190-46eb9b88898b"
      }
    ]
  }
}